.section {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3.5rem;
  font-size: 1.25rem;
}

.headerHighlight {
  color: #0079BE;
  font-weight: 500;
}

.headerItem {
  color: #666666;
  font-weight: 400;
}

.headerSeparator {
  color: #cccccc;
  font-weight: 300;
}

.wrapper {
  max-width: var(--width-container);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.blueCard {
  width: calc(997 / 1200 * 100%);
  aspect-ratio: 997 / 520;
  background-color: #0079BE;
  border-radius: 10px;
  z-index: 1;
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContent {
  width: 50%;
  color: #ffffff;
}

.imageCard {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(692 / 1200 * 100%);
  aspect-ratio: 692 / 400;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}