/* location-section.module.css */

.container {
  width: 100%;
  background-color: #f9f5ec;
  padding: 80px 0 0 0;
}

.topContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 0 20px 60px;
}

.textSide {
  flex: 1;
}

.mapSide {
  flex: 1.5;
}

.label {
  font-size: 18px;
  color: #6d4c41;
  letter-spacing: 2px;
  font-weight: 500;
}

.mainTitle {
  font-family: "Times New Roman", serif;
  font-size: 44px;
  color: #6d4c41;
  margin: 5px 0 15px 0;
}

.desc {
  color: #888;
  font-size: 14px;
  line-height: 1.6;
}

.mapImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Media query riêng cho phần Top Content */
@media (max-width: 768px) {
  .topContent {
    flex-direction: column;
  }
}