.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  font-family: "Times New Roman", serif;
  font-size: 42px;
  color: #6d4c41;
  /* Màu nâu giống code cũ của bạn */
  margin-bottom: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


/* Responsive */
@media (max-width: 768px) {
  .sectionTitle {
    font-size: 32px;
  }
}