.section {
  width: 100%;
  margin-bottom: 2rem;
}

.wrapper {}

.imageBanner {
  position: relative;
  width: 100%;
  aspect-ratio: 1440 / 520;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoStrip {
  width: 100%;
  background-color: #eff3f6;
  padding: 6% 0;
}

.contentBox {
  max-width: var(--width-container);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.leftCol {
  width: 55%;
}

.infoList {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1.5px solid rgba(0, 121, 190, 0.3);
}

.infoItem {
  display: flex;
  align-items: flex-start;
  padding: 1.25rem 0;
  border-bottom: 1.5px solid rgba(0, 121, 190, 0.3);
}

.iconBox {
  margin-right: 1.25rem;
  color: #0079BE;
  font-size: 1rem;
  padding-top: 0.15rem;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.label {
  color: #0079BE;
  font-weight: 500;
  font-size: 1.5rem;
}

.value {
  color: #555555;
  font-size: 1.2rem;
  line-height: 1.4;
}

.rightCol {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.titleInfo {
  font-size: clamp(2rem, 2.5vw, 4rem);
  color: #333333;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.titleOverview {
  font-size: clamp(3rem, 4vw, 6rem);
  color: #003B6B;
  font-weight: 700;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 1024px) {
  .contentBox {
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .leftCol,
  .rightCol {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .infoItem {
    text-align: left;
  }
}