.pageContainer {
    padding: 0;
}

.headerContainer {
    margin-bottom: 24px;
}

.backButton {
    margin-bottom: 16px;
}

.pageTitle {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #262626;
}
